/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

/* VARIABLES */

:root {
  /* background */

  /* primary */
  --PDark: #050e1f;
  --PLight: #ffffff;
  --Primary: #031127;

  /* seconday */
  --SDark: #75a478;
  --SLight: #d7ffd9;
  --Secondary: #a5d6a7;

  /* color textos */

  --TextOnP: #ffffff;
  --TextOnS: #000000;

  /* spinner */

  --size-of-spinner: 50px;
  --spinner-border-width: 4px;
  --spinner-color: #08c18a;
  --circle-color: #8bc34a24;
  --speed-of-animation: 2s;
  --scale: 1.3;
}

/* generales */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-transform: none;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--PLight);
  color: var(--TextOnP);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/* fin generales */

/* -----------LOAD--------------- */

.hidden {
  overflow: hidden;
}

.container-spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Primary);
}

.spinner {
  width: var(--size-of-spinner);
  height: var(--size-of-spinner);
  background: var(--circle-color);
  border-radius: 50%;
  position: relative;
}

.spinner::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  inset: 0;
  border: var(--spinner-border-width) solid var(--spinner-color);
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spinny var(--speed-of-animation) linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(var(--scale));
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* @keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
} */

/* -----------------FIN LOAD-------------- */

/* HEADER */

#nav-container {
  padding: 1em;
  background-color: var(--Primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.nav-enlaces {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: height 1s linear 0s;
}

.nav-enlaces-active {
  height: 100vh;
  width: 100%;
  display: flex;
}

.nav__link a {
  display: block;
  color: var(--TextOnP);
  font-size: 1.8em;
  padding: 0.9em 0;
  margin: 0.8em 0;
  background-color: var(--Primary);
  border-radius: 0.5em;
}

.nav__link {
  width: 100%;
}

.ver {
  display: none;
}

.menu-hamburger-close {
  display: none;
}

.hidden-close {
  display: block;
}

/* fin header y nav */

/* tittles */

.tittle-nav {
  margin-left: 1.5em;
  display: none;
}

.tittle-verde {
  color: var(--SDark);
}
.tittle-primary {
  color: var(--Primary);
}

.tittle-blanco {
  color: var(--PLight);
}

.tittle-secondary {
  color: var(--Secondary);
}

.tittle {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}

.tittle-3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}
.tittle-4 {
  font-size: 0.8em;
  text-align: center;
  font-weight: 500;
}

/* fin tittles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

/* hero */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
  height: 100vh;
  background-color: var(--Primary);
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.frontEnd {
  color: var(--TextOn);
  margin-top: 1.5em;
}

.buttons {
  margin-top: 3em;
  text-align: center;
  color: var(--TextOnS);
}

.content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 60%;
}

/* description */

#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
  padding: 5em 0;
  background-color: var(--PLight);
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
}

.description-text p {
  color: var(--TextOnS);
  width: 80%;
  letter-spacing: 0.1em;
  font-size: 1em;
  padding: 0 1.5em;
  text-align: left;
  font-weight: 500;
}

.description-container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
  overflow: hidden;
}

.description-img {
  width: 100%;
}

.redes {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  padding: 1.5em;
}

.redes .fa {
  color: var(--Primary);
  font-size: 1.5em;
}

.redes .fa:hover {
  color: var(--SDark);
  font-size: 1.5em;
}
/* fin description */

/* BUTTON */

.button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--TextOnS);
  background-color: var(--PLight);
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #23c483;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.button:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

/* fin BUTTON */

/* service */

.header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Service .container-texts-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#Service .container-texts-description {
  margin-bottom: 1.5em;
}

#Service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
  padding: 5em 0;
  background-color: var(--Primary);
}

.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;

  transition: all 0.4s ease;
  border-radius: 1em;
  overflow: hidden;
}
.grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: all 0.4s ease;
  border-radius: 1em;

  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 3 - 3em);
  height: 50vh;
  min-height: 10vh;
  transition: all 0.4s ease;
  border-radius: 1em;
}

.carrousel .puntos {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 3em;
  height: 1.6em;
  margin: 1em 1em 0;
  transition: all 0.4s ease;
  border-radius: .3em;
  cursor: pointer;
  background-color: var(--Secondary);
  opacity: .6;
}


.carrousel .punto:hover {
  transform: scale(1.5);
}

.punto-1:hover {
  background: url("../assets/svgs web/Web Developer.svg") no-repeat center;
  background-size: cover;
}
.punto-2:hover {
  background: url("../assets/svgs web/webDesinig.svg") no-repeat center;
  background-size: cover;
}
.punto-3:hover {
  background: url("../assets/svgs web/Web Developer.svg") no-repeat center;
  background-size: cover;
}

.punto .active {
  background-color:orange;
  opacity: 1;
  margin: 0;
  padding: 0;
}

/* fin service */

/* projects */

#Projects {
  background-color: var(--PLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
  padding: 5em 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  width: 100%;
}

.proyects {
  margin: 0;
  padding: 2.5em;
  box-shadow: 15px 15px 30px var(--Primary), -15px -15px 30px #ffffff;
  border-radius: 1.5em;
  background-color: var(--Primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.img-projects {
  border-radius: 1.5em;
  width: 100%;
}

.proyects p {
  padding: 1.5em 0;
  text-align: center;
}

.proyects a {
  color: var(--TextOnS);
  text-align: center;
}

.buttons-projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1em;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em;
}

/*fin projects */

/* softs Skills */

#Why-Hire-Me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5em 0;
  background-color: var(--Primary);
  text-align: center;
}

.soft-Skilss-text {
  margin-bottom: 4em;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  text-align: center;

  width: 100%;
}

.container-soft-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  margin: 1.3em 0;
  width: 100%;
  text-align: center;
}

/* fiin soft skills */

/* skills */

#Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5em;
  padding: 5em 0;
  background-color: var(--PLight);
}

#Skills .soft-Skilss-text {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-skills {
  margin: 0;
  padding: 2em;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  border-radius: 1.5em;
  background-color: var(--PLight);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  gap: 0.65em;
}
.container-img-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-skills-text h3 {
  color: var(--Primary);
  font-size: 1.5em;
  font-weight: 500;
}

.container-skills-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

.container-img-skills .tittle-4 {
  color: var(--Primary);
}

/* fin skills */

/* contacto */

#contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--Primary);
  width: 100%;
  padding: 5em 0;
}

.contacto-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--Primary);
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  margin: 1.5em 0;
  width: 100%;
}

.contenido-caja {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.5em;
}

.contacto-container .fa-solid {
  color: var(--PLight);
  font-size: 1em;
  margin-right: 1em;
}
.text-contacto {
  color: var(--SDark);
  justify-items: start;
  font-size: 1em;
}

.dato-contacto {
  font-size: 0.8em;
  color: rgb(189, 189, 189);
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
  width: 100%;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #26264b;
  width: 17em;
  height: 2em;
  outline: none;
  color: var(--PLight);
}
.textos-formulario {
  color: var(--PLight);
}
.enviar {
  margin-top: 2.5em;
}

.email-formulario {
  margin-top: 1.5em;
}

.form-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
}

/* fin contacto */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--Primary);
}

.copyright-text {
  padding: 1.9em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.copyright-text h6 {
  color: var(--TextOnP);
}

/* FIN FOOTER */

/* DESKTOP*/

@media screen and (min-width: 1000px) {
  .menu-hamburger-open,
  .menu-hamburger-close {
    display: none;
  }

  /* tittles */

  .tittle-3 {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
    color: var(--TextOnS);
    font-weight: 600;
  }
  .tittle-4 {
    color: var(--PLight);
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin-top: 1.5em;
    font-weight: 500;
  }

  /* HEADER NAV */

  .tittle-nav {
    display: flex;
  }

  .tittle-nav {
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .tittle-nav:hover {
    background: transparent;
    box-shadow: none;
  }

  .tittle-nav:before,
  .tittle-nav:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--Secondary);
    transition: 400ms ease all;
  }
  .tittle-nav:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  .tittle-nav:hover:before,
  .tittle-nav:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

  /* fin del titulo */

  #nav-container {
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0.8em;
  }

  /* nav link */
  .nav__link a {
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .nav__link a:hover {
    background: transparent;
    box-shadow: none;
  }

  .nav__link a:before,
  .nav__link a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: var(--Secondary);
    transition: 0.5s ease all;
  }

  .nav__link a:hover:before {
    width: 100%;
    left: 0;
  }

  .nav__link a {
    display: flex;
    font-size: inherit;
    padding: 1em;
    margin: 0.8em 0;
    background-color: transparent;
    border-radius: 0;
  }

  /* fin nav link */

  /* fin header nav */

  /* hero */

  #hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .content {
    width: 50%;
  }

  .content-img {
    width: 40%;
  }

  .hero-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    text-align: left;
  }
  .tittle {
    font-size: 4em;
  }

  .frontEnd {
    margin-top: 0.9em;
    font-weight: 600;
    font-size: 1.5em;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    text-align: left;
    margin-top: 2.5em;
  }

  /* fin hero */

  /* description */

  #description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5em 0;
    margin: 0;
    background-color: var(--PLight);
    gap: 0;
  }

  #description .container-texts-description {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 100%;
  }

  .tittle-3 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 600;
  }

  .container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    transition: all 1s ease;
  }

  .description-text:hover {
    transform: translateX(-1.6em);
  }

  .description-text p {
    color: var(--TextOnS);
    width: 100%;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    padding: 0 1.5em;
    text-align: left;
  }

  .description-container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    overflow: hidden;
  }

  .description-img {
    width: 100%;
    transition: all 1s ease;
  }

  .description-img:hover {
    transform: translateX(1.6em);
  }

  .redes {
    width: 50%;
    text-align: center;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
  }

  .redes .fa {
    color: var(--Primary);
    font-size: 1.5em;
  }

  .redes .fa:hover {
    color: var(--SDark);
    font-size: 1.5em;
  }

  /* fin description */

  /* service */

  #Service {
    gap: 3.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Service .container-texts-description {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 100%;
  }

  .carrousel {
    width: 90%;
    max-width: 120em;
    padding: 2em;
  
    transition: all 0.4s ease;
    border-radius: 1em;
    overflow: hidden;
  }
  .grande {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  
    transition: all 0.4s ease;
    border-radius: 1em;
  
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel .img {
    width: calc(100% / 3 - 2em);
    height: 50vh;
    min-height: 10vh;
    transition: all 0.4s ease;
    border-radius: 1em;
  }
  
  .carrousel .puntos {
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: 2.5em;
    height: 2.5em;
    margin: 1em 1em 0;
    transition: all 0.4s ease;
    border-radius: .5em;
    cursor: pointer;
    background-color: var(--Secondary);
    opacity: .6;
  }
  
  .carrousel .punto.activo {
    background-color: lightblue;
  }
  .carrousel .punto:hover {
    transform: scale(1.5);
  }
  
  .punto-1:hover {
    background: url("../assets/svgs web/Web Developer.svg") no-repeat center;
    background-size: cover;
  }
  .punto-2:hover {
    background: url("../assets/svgs web/webDesinig.svg") no-repeat center;
    background-size: cover;
  }
  .punto-3:hover {
    background: url("../assets/svgs web/Web Developer.svg") no-repeat center;
    background-size: cover;
  }
  
  .punto .active {
    background-color: var(--PDark);
  }

  /* fin service */

  /* PROJECTS */

  #Projects {
    background-color: var(--PLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4.5em;
    padding: 5em 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
  }

  .proyects {
    margin: 0;
    padding: 2.5em;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    background-color: var(--Primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34%;
  }

  .img-projects {
    border-radius: 1.5em;
    width: 100%;
  }

  .buttons-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-align: center;
    width: 50%;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    width: 10%;
  }

  .proyects a {
    color: var(--TextOnS);
    text-align: center;
    width: 100%;
  }

  /* FIN PROJECTS */

  /* soft SKILLLS*/

  #Why-Hire-Me {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5em 0;
  }

  .container-2 {
    margin-top: 5.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
  }

  .container-soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;

    width: 20%;
    text-align: center;
  }

  /* skills */

  .container-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 43%;
    height: 600px;
    margin: 0;
    gap: 0.5em;
    text-align: center;
  }

  .container-img-skills {
    text-align: center;
    margin: 1em 0;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* contacto */

  #contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--PDark);
    width: 100%;
    padding: 5em 0;
  }

  .contacto-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--Primary);
    border-radius: 1em;
    padding: 1.5em 0;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 1.5em 0;
    width: 40%;
  }

  .contenido-caja {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5em;
  }

  .contenido-caja .fa-solid {
    color: var(--PLight);
    font-size: 2em;
    margin-right: 1em;
  }
  .text-contacto {
    color: var(--PLight);
    justify-items: start;
  }
  .contacto h3 {
    color: var(--PLight);
    font-size: 1.2em;
  }
  .tipo-dato-contacto {
    font-size: 1em;
    color: var(--SDark);
    margin-bottom: 0.5em;
  }
  .dato-contacto {
    font-size: 0.8em;
    color: rgb(189, 189, 189);
  }

  /* form */

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;

    width: 40%;
  }

  .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #26264b;
    width: 100%;
    height: 2em;
    outline: none;
    color: var(--PLight);
  }

  .input::placeholder {
    color: #bebebe;
  }

  .textos-formulario {
    color: var(--PLight);
  }
  .enviar {
    margin-top: 2.5em;
  }

  .email-formulario {
    margin-top: 1.5em;
  }

  .form-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
  }

  /* -----footer------- */

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--PDark);
    color: var(--PLight);
  }

  .copyright-text {
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* FIN FOOTER */
}
