/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

/* VARIABLES */

:root {
  /* background */

  /* primary */
  --PDark: #aeaeae;
  --PLight: #ffffff;
  --Primary: #23c483;

  /* seconday */
  --SDark: #aeaeae;
  --SLight: #6746c3;
  --Secondary: #e0e0e0;

  /* BACK CARD */

  /* color textos */

  --TextOn: #000000;
}

/* generales */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-transform: none;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--Secondary);
  color: var(--TextOn);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/* fin generales */

/* -----------LOAD--------------- */

.hidden {
  overflow: hidden;
}

.container-spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Secondary);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--Primary) transparent var(--Primary) transparent;
  animation: spinny 1.5s linear infinite;
}
@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* -----------------FIN LOAD-------------- */

/* HEADER */

header {
  
  padding: 1em;
  background-color: var(--Primary);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

#nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.nav-enlaces {
  display: none;
  
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  text-align: center;
}

.nav-enlaces-active {
  height: 100vh;
  width: 100%;
  display: flex;
}

.nav__link a{
  width: 100%;
}

.nav__link {
  color: var(--PLight);
  font-size: 1.5em;
  padding: .5em 0;
  background-color: var(--SDark);
  width: 100%;
  margin: .8em 0;
}

.hidden {
  display: none;
}

.menu-hamburger-close {
  display: none;
}

.hidden-close {
  display: block;
}

/* fin header y nav */

.tittle-nav {
  margin-left: 1.5em;
  display: none;
}

.tittle-morado {
  color: var(--SLight);
}

.tittle-blanco {
  color: var(--TextOn);
}
.tittle {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}

.tittle-3 {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
}
.tittle-4 {
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin-top: 1.5em;
  font-weight: 500;
}

/* fin tittles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

/* hero */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.9em;
  padding: 2.5em 0;
  margin: 5em 0;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.fron {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 1.2em;
}

.frontEnd {
  color: var(--TextOn);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: left;
  letter-spacing: 0.1em;
  margin: 1.2em 0;
  padding: 2em;
  font-size: 0.8em;
}

.button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #23c483;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.button:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.header {
  width: 100%;
  text-align: center;
}

#Service {
  background-color: var(--Primary);
}

#Why-Hire-Me {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5em;
}

#Why-Hire-Me,
#Why-Hire-Me .tittle-blanco {
  background-color: var(--Primary);
  color: var(--PLight);
}

.img-hard-sklls {
  color: var(--TextOn);
}

.proyects {
  margin: 2.5em 0;
  padding: 1.5em;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  border-radius: 1.5em;
  background-color: var(--Secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.img-projects {
  border-radius: 1.5em;
  width: 100%;
}

.proyects p {
  padding: 1.5em 0;
  margin-lef: 1.5em;
}

.container-hard-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin: 1.5em 0;
  width: 40%;
  text-align: center;
}

.containers-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 1.5em;
  width: 100%;
}

.container-skills {
  margin: 2.5em 0;
  padding: 2em;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  border-radius: 1.5em;
  background-color: var(--bgCard);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 0.65em;
}

.container-img-skills {
  text-align: center;
  margin: 0.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--Primary);
  width: 100%;
  padding: 1.5em 0;
}

/* -----footer------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  width: 100%;
  background-color: var(--SDark);
}

.copyright-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 1.5em;
  width: 80%;
}

/* FIN FOOTER */

/* DESKTOP*/

@media screen and (min-width: 1000px) {
  #nav-container {
  }

  .nav-enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav__link {
    padding: 1.5em;
  }
}
